/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
   /* General Styles */
    
   html {
    font-size: 16px;
     
   }
    
   body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    }
    
    
    a {
     color: #e2e3ed;
     text-decoration: none;
    }

   h1 {
     font-size: 3.75em;
   }
    
   h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.25em;
    
   }
    
   h3, 
   h4 {
    font-family: 'Poppins', sans-serif;
    
   }
    
   p {
     
   }
    
   img {
    width: 100%;
  }

  figure {
    margin: 0;
  }
    
   address {

    font-style: normal;
    
   }
    

   li {
   list-style: none;
   text-transform: uppercase;
   }


/******BASE HEADER-FOOTER STYLES**********/


header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/******HEADER STYLES********/

header {
  
  padding: 15px 0;
}

header figure {
  width: 60%;
}

header .content-wrapper {
  flex-flow: column wrap;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0px;
}

header nav ul li {
  list-style: none;
}

header nav ul li a {
  text-decoration: none;
}

/******MOBILE STYLES - HOMEPAGE********/

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 50px 20px;
}

.hero-area {
  height: 500px;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url("../img/jake-melara-30679-unsplash.jpg") center no-repeat;
  background-size: cover;
  color: white;
}

.hero-area h2 {
  padding-left: 20px;
  align-items: baseline;
}
  
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: url("../img/rawpixel-800820-unsplash1.jpg") center no-repeat;
  background-size: cover;
  color: white;
  }

.features h2 {
  padding: 0px 20px;
  font-weight: 100;
}
  .features article {
    text-align:center;
  }

  .features p {
    margin: 0;
  }

  .features-items {
    width: 55%;
    padding-bottom: 66px;
  }

.reviews h3 {
  width: 65%;
}

.reviews .content-wrapper div {

  display: flex;
  flex-flow: column wrap;
}

footer {
  flex-flow: column wrap;
}

footer p {
  margin: 0;
}

footer .content-wrapper {
  text-align: center;
}

div.social-icons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

.copyright {
  padding-bottom: 10px;
}
 
input[type=text] {
  box-sizing: border-box;
  width: 100%;
  color: #2a423a;
  font-style: italic;
  padding: 1em;
}
 
input[type=button] {
  width: 100%;
  padding: 20px 0;
  margin-top: 20px;
  background-color: #2a423a;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.125em;
  color: #e2e3ed;
  border: none;
  text-align: center;
  text-transform: uppercase;
}


/***********ABOUT PAGE MOBILE STYLES**********/

.map figure {
  width: 100%;
  height: 0; 
  padding-bottom: 125%; 
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute; 
  top: 0; 
  left: 0; 
}

.contact-section .content-wrapper {
  justify-content: flex-start;
}

.contact-section .content-wrapper address {
  padding-bottom: 20px;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {
  /*Tablet styles here*/

  .content-wrapper { 
    padding: 0px 64px;
  }

  /*HOMEPAGE TABLET STYLES*/

  header nav {
    width: 16%;
  }

  header figure {
    width: 28%;
  }

  header .content-wrapper {
    width: 83%;
    justify-content: space-between;
    flex-flow: row wrap;
  }

  .hero-area {
    display: flex;
    padding: 0px 64px;
    height: 600px;
  }

  .hero-area h2 {
    font-weight: 100;
    padding: 0px;
  }

  aside.content-wrapper {
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 64px;
    height: 240px;
  }

  .form-description {
   width: 40%;
  }

  .form {
    width: 40%;
   }

   .features .content-wrapper {
    justify-content: space-evenly;
}

  .features-items {
    flex-basis: 35%;
  }

  .features h2 {
    padding: 0px 64px;
  }

  .reviews h3 {
    width: 60%;
  }

.reviews {
  height: 500px;
  padding: 50px 64px;
}

  .reviews .content-wrapper {
    padding: 0px;

  }

  .reviews .content-wrapper div {
    flex-flow: row nowrap;
  }

  .reviews .content-wrapper div .rev-content {
    flex-flow: column wrap;   
    padding-left: 15px;
    width: 50%;
  }

  .reviews figure {
    width: 50%;
  }

  .reviews p {
    margin: 0;
  }

  footer {
    height: 330px;
  }

  footer .content-wrapper {
    width: 65%;
    justify-content: center;
    padding: 63px;
  }

  .footer-content {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  /*ABOUT PAGE TABLET STYLES*/

  .mission .content-wrapper {
    flex-flow: column wrap;
  }

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mission-content p {
    display: flex;
    flex-basis: 46%;
    padding-bottom: 50px;
  }

  .contact-section .content-wrapper {
    justify-content: space-between;
    align-items: normal;
  }

  .contact-container {
    flex-flow: row nowrap;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .map figure {
    padding-bottom: 50%;
  }

  /*FAQ PAGE TABLET STYLES*/

  .faq .content-wrapper {
    justify-content: space-between;
  }

  .faq-content {
    flex-basis: 40%;
  }
  .faq h2 {
    width: 100%;
}

}

@media only screen and (min-width: 1200px) {
  /*Desktop styles here*/


  /*************HOMEPAGE DESKTOP STYLES**********/

 html {
   padding: 0px 120px;
 }

header .content-wrapper {
  width: 100%;
}

 header nav ul {
   justify-content: space-around;
 }

 .hero-area {
  flex-flow: column wrap;
  align-items: flex-start;
 }

 aside.content-wrapper {
  align-items: baseline;
  justify-content: space-evenly;
 }

 .form {
   width: 30%;
 }

 .form-description {
   width: 30%;
 }

.features {
  flex-flow: column wrap;
}

.features h3 {
  width: 40%;
}

.features .content-wrapper {

  flex-flow: row wrap;
  justify-content: space-around;
}

.features-items {
  flex-basis: 26%;
}

.reviews .content-wrapper {
  justify-content: flex-start;
}

.reviews .content-wrapper .rev-content {
  flex-flow: column wrap;
}

.rev-content h3 {
  width: 25%;
}

footer .content-wrapper {
  width: 100%;
}

/************ABOUT PAGE DESKTOP STYLES***********/

.contact-section .content-wrapper {
  flex-flow: column wrap;
}

.contact-container {
  display: flex;
  justify-content: space-between;
}

.map figure {
  padding-bottom: 56.25%;
}


/************FAQ PAGE DESKTOP STYLES***********/

.faq .content-wrapper {
  flex-flow: column wrap;
  align-items: flex-start;
}

.faq-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.faq-content {
  flex-basis: 45%;
}

}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

